* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.header {
    width: 100%;
    height: 110px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 500;
    font-size: 36px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    padding-left: 80px;
}

.logo:hover {
    color: #525252;
}

.header_right {
    padding-right: 80px;
}

.header_menu {
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    font-size: 24px;
}

.header_menu:hover {
    color: #525252;
}

.coffee_img {
    background-image: url("https://source.unsplash.com/vSuQJKZkt4U/1920x1080");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 750px;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.line {
    width: 150px;
    height: 10px;
    background: #817070;
}

.story {
    margin-top: 40px;
    width: 100%;
}

.story_logo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    color: #000000;
}

.story_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 80px;
}

.story_text_div {
    width: 650px;
    margin-right: 80px;
    background-color: #FFFFFF;
}

.story_img_div {
    width: 600px;
    height: 400px;
}

.story_img {
    width: 100%;
    height: 100%;
}

.story_text {
    font-weight: 300;
    font-size: 20px;
    color: #000000;
}

.blog {
    width: 100%;
    background-color: #EFEFEF;
    padding-top: 60px;
}

.blog_logo {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    color: #000000;
    margin-bottom: 60px;
}

.blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-bottom: 65px;
    flex-wrap: wrap;
}

.block1 {
    background-color: #FFFFFF;
    width: 365px;
    height: 500px;
}

.block2 {
    background-color: #FFFFFF;
    width: 365px;
    height: 500px;
}

.block3 {
    background-color: #FFFFFF;
    width: 365px;
    height: 500px;

}

.block_logo {
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.block_img {
    width: 325px;
    height: 216px;
    padding-top: 24px;
    padding-left: 20px;
}

.block_text {
    padding: 24px 20px 46px 20px;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

.block_link {
    text-decoration: none;
}

.subscribe {
    background-color: #817070;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subscribe_logo {
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 60px;
}

.subscribe_email {
    margin-top: 28px;
    width: 300px;
    height: 55px;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    background-color: #817070;
}

.subscribe_email::placeholder {
    color: #FFFFFF;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.subcribe_btn {
    margin-top: 28px;
    margin-bottom: 58px;
    width: 129px;
    height: 55px;
    background-color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 20px;
    color: #817070;
}

.footer_logo {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-top: 29px;
    margin-bottom: 14px;
}